.comentarios-container {
  max-width: 600px;
  margin: 20px auto;
  padding: 20px;
  border: 2px solid #3498db;
  border-radius: 10px;
  background-color: #f0f8ff;
}

.comentarios-container h3, .comentarios-container h4 {
  color: #2c3e50;
  text-align: center;
}

form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 20px;
}

form input[type="text"],
form textarea {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

form button {
  padding: 10px;
  background-color: #3498db;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
}

form button:hover {
  background-color: #2980b9;
}

ul {
  list-style: none;
  padding: 0;
}

ul li {
  background-color: #ecf0f1;
  padding: 10px;
  margin: 5px 0;
  border-radius: 5px;
}

ul li strong {
  color: #2c3e50;
}

.boton-inicio-fijo {
  position: fixed;
  top: 20px;
  right: 20px;
  width: 100px;
  height: 100px;
  background-image: url('/avion-boton.png');
  background-size: 200%;
  background-repeat: no-repeat;
  background-position: center;
  background-color: white;
  border-radius: 50%;
  box-shadow: 0 6px 16px rgba(0, 0, 0, 0.25);
  z-index: 1000;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  cursor: pointer;
  border: 3px solid #4e243b;
}

.boton-inicio-fijo:hover {
  transform: scale(1.1);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.35);
  border-color: #050b0c;
}
